body{
    background-color: #2d3548;
    color: #fff;
}
.container{
    flex-wrap: wrap;
    display: flex;
    width: 90%;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 20px;
}
.card-bg{
    width: 300px;
    height: 500px;
    border-radius: 15px;
    background-position: center;
    background-size: cover;
    position: relative;
}
.content{
    position: absolute;
    left: 0;
    padding: 25px;
}
.card-categories{
    font-size: 0.8rem;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.card-heading{
    font-size: 1.8rem;
    text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
}
.card:hover{
    transform: scale(1.1);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
.container:hover > .card:not(:hover) .card-bg{
    filter: brightness(0.5) blur(2px);
}


















